<div class="superheroes">
    <h1>Superheroes</h1>
    
    <!-- <div class="superheroes__loading" *ngIf="loading$ | async">
        <mat-spinner></mat-spinner>
    </div> -->
    
    <div class="superheroes__list">
        <ng-container *ngFor="let superhero of superheroes$ | async">
            <mat-card class="superheroes__card">
                <mat-card-header>
                    <mat-card-title>{{ superhero.name }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <button mat-raised-button [routerLink]="['/superheroes', superhero.id]">Find Out More</button>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </div>
</div>